body {
    font-family: "Rubik", sans-serif;
    font-style: normal;
    background-color: #EAEDF8;
    margin: 0;
}



.form-group {
    margin-bottom: 15px;
}
.table .form-group {
    margin-bottom: 0;
}
.table .btn {
    margin-top: 10px;
}
